name: actions-s3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: node.js setup
      uses: actions/setup-node@v3
      with:
        node-version: '24'
        
    - name: Build Project
      run: |
        npm install
        npm run build  # Generates output, e.g., in a /dist folder
      
    - name: deploy to S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
        S3_BUCKET: ${{ secrets.S3_BUCKET }}
      run: |
        aws s3 sync dist/ s3://$S3_BUCKET --delete
